$color-background: rgb(20, 28, 37);
$color-primary: rgb(63, 75, 82);
$color-text-primary: rgb(143, 145, 145);

$color-number: rgb(146, 195, 223);
$color-bool: rgb(205, 146, 223);
$color-string: rgb(146, 223, 169);
$color-object: rgb(223, 190, 146);